<header>
    <nav class="<% if action_name == 'dashboard' %>scroll-snap<% end %>"
         data-controller="navbar"
         data-navbar-target="menu">
      <div class="logo">
       <%=link_to root_path do %>
       <h1>élisée </h1>
       <% end %>
      </div>
      <div class="toggle">
        <span class="ouv"><i data-action="click->navbar#toggle" class="fa fa-bars"></i></span>
        <span class="ferm"><i data-action="click->navbar#toggle" class="fa fa-times"></i></span>
      </div>
      <ul class="menu">
        <% if user_signed_in? %>
          <li><%= "Hello #{current_user.email}" %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          <li><%= link_to "My collection", dashboard_path %></li>
        <% else %>
          <li><%= link_to "Log in", new_user_session_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
        <%= link_to "Search", root_path %>
        <%= link_to "élisée project", root_path %>
        <p>©LéOlaBn / LWB#801</p>
      </ul>
    </nav>
  </header>
