<% content_for :head do %>
  <meta name="turbolinks-visit-control" content="reload">
  <script src="https://cdn.jsdelivr.net/npm/p5@1.4.1/lib/p5.js" async defer></script>
<% end %>
<div class='song'>
  <div class='song-menu d-flex justify-content-center align-items-center p-2'>
    <div class='song_text_info'>
      <h3 class= text-center><%= @song.name %></h3>
      <h4 class= text-center>Artist: <%= @song.artist %></h4>
      <h4 class= text-center>Album: <%= @song.album %></h4>
    </div>
    <div class="like-btn px-4">
      <%= simple_form_for [@song, @like] do |f| %>
        <% f.submit "Like" %>
      <% end %>
    </div>
    <div class="player">
      <iframe src="https://open.spotify.com/embed/track/<%=@song.spotify_id%>" width="80" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
  </div>
  <div class='p5-canva' data-controller="sketch"
        data-sketch-duration-value="<%= @song.duration %>"
        data-sketch-key-value="<%= @song.key %>"
        data-sketch-mode-value="<%= @song.mode %>"
        data-sketch-tempo-value="<%= @song.tempo %>"
        data-sketch-time_signature-value="<%= @song.time_signature %>"
        data-sketch-loudness-value="<%= @song.loudness %>">
  </div>
</div>
