<% content_for :head do %>
  <meta name="turbolinks-visit-control" content="reload">
  <script src="https://cdn.jsdelivr.net/npm/p5@1.4.1/lib/p5.js" async defer></script>
<% end %>
<div class='song'>
  <div class='song-menu d-flex justify-content-center align-items-start p-3'>
    <div class='song_text_info'>
      <h3 class= text-center><%= @song.name %></h3>
      <h4 class= text-center>Artist: <%= @song.artist %></h4>
      <h4 class= text-center>Album: <%= @song.album %></h4>
    </div>
    <div class="player px-4">
      <iframe src="https://open.spotify.com/embed/track/<%=@song.spotify_id%>" width="80" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    <div class="like-btn px-4">
      <% if already_liked? %>
        <%= simple_form_for [@song, @like], method: :delete do |f| %>
          <%= button_tag(type: "submit", class: "like-button active") do %>
            <i class="fas fa-heart"></i>
          <% end %>
        <% end %>
      <% else %>
        <%= simple_form_for [@song, @like] do |f| %>
          <%= button_tag(type: "submit", class: "like-button") do %>
            <i class="fas fa-heart"></i>
            <% end %>
          <% end %>
      <% end %>
    </div>
    <button class="" type="button">Export</button>
  </div>
  <div class='p5-canva' data-controller="sketch"
        data-sketch-id-value="<%= @song.id %>"
        data-sketch-duration-value="<%= @song.duration %>"
        data-sketch-key-value="<%= @song.key %>"
        data-sketch-mode-value="<%= @song.mode %>"
        data-sketch-tempo-value="<%= @song.tempo %>"
        data-sketch-time-signature-value="<%= @song.time_signature %>"
        data-sketch-loudness-value="<%= @song.loudness %>">
  </div>
</div>