<% content_for :head do %>
  <meta name="turbolinks-visit-control" content="reload">
  <script src="https://cdn.jsdelivr.net/npm/p5@1.4.1/lib/p5.js" async defer></script>
<% end %>
<h3 class= text-center><%= @song.name %> by <%= @song.artist %></h3>
<h4 class= text-center>Album : <%= @song.album %></h4>
<div data-controller="sketch"
      data-sketch-duration-value="<%= @song.duration %>"
      data-sketch-key-value="<%= @song.key %>"
      data-sketch-mode-value="<%= @song.mode %>"
      data-sketch-tempo-value="<%= @song.tempo %>"
      data-sketch-time_signature-value="<%= @song.time_signature %>"
      data-sketch-loudness-value="<%= @song.loudness %>">
</div>

<%= simple_form_for [@song, @like] do |f| %>
  <% f.submit "Like" %>
<% end %>
