<div class="main-container">
  <div class="search-bar col-5">
        <%= form_tag root_path, method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search for your favorite song !"
          %>
          <%= button_tag class: "btn btn-primary" do %>
            <i class="fas fa-search"></i>
        <% end %>
    <% end %>
  </div>


<ul>
  <% if @songs %>
        <% @songs.each do |song| %>
        <%= link_to song_path(song) do %>
        <li><%= song.name %> <%= song.artist %> - <%= song.album %></li>
          <% end %>
        <% end %>
        <% if @songs.empty? %>
          <li>No results</li>
        <% end %>
  <% end %>
</ul>
</div>
